body{

margin:0;

font-family:Arial,sans-serif;

background:linear-gradient(135deg,#081120,#11284d);

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.auth-box{

width:420px;

padding:40px;

border-radius:25px;

background:rgba(255,255,255,.08);

backdrop-filter:blur(20px);

display:flex;

flex-direction:column;

gap:18px;

}

.auth-box h1{

text-align:center;

color:white;

margin-bottom:15px;

}

.auth-box input{

padding:16px;

border:none;

border-radius:15px;

font-size:16px;

background:#1a2c46;

color:white;

}

.auth-box
