.sidebar-chat{

display:flex;

align-items:center;

gap:15px;

padding:15px;

border-radius:18px;

margin-bottom:12px;

cursor:pointer;

transition:.25s;

background:rgba(255,255,255,.05);

}

.sidebar-chat:hover{

background:rgba(255,255,255,.10);

}

.selected{

background:linear-gradient(90deg,#0099ff,#005dff);

}

.chat-avatar{

position:relative;

width:58px;

height:58px;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

font-size:28px;

background:#1b2945;

flex-shrink:0;

}

.online-dot{

position:absolute;

right:2px;

bottom:2px;

width:13px;

height:13px;

background:#00ff73;

border-radius:50%;

border:2px solid #13203b;

}

.chat-main{

flex:1;

}

.chat-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:6px;

}

.chat-header h4{

color:white;

font-size:17px;

}

.chat-header span{

color:#8dc8ff;

font-size:12px;

}

.chat-last{

color:#b6d8ff;

font-size:14px;

white-space:nowrap;

overflow:hidden;

text-overflow:ellipsis;

}

.chat-unread{

min-width:24px;

height:24px;

border-radius:50%;

background:#00a8ff;

display:flex;

justify-content:center;

align-items:center;

color:white;

font-size:12px;

font-weight:bold;

}
